<main class="container-xl">
    <p>This is the two factor authentication page</p>
    <div class="qr_code"></div>
</main>
<script src="{{urlpath}}/vw_static/jquery-3.7.1.slim.js"></script>
<script src="{{urlpath}}/vw_static/jquery.qrcode.min.js"></script>
<script src="{{urlpath}}/vw_static/admin_twofactor.js"></script>